cocos2d/build/
cocos2d/cocos/2d/platform/android/java/bin/
cocos2d/cocos/2d/platform/android/java/gen/
bin/
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/audio/proj.win32/Debug.win32/
cocos2d/cocos/editor-support/cocosbuilder/proj.win32/Debug.win32/
cocos2d/extensions/proj.win32/Debug.win32/
cocos2d/external/chipmunk/proj.win32/Debug.win32/
proj.win32/Debug.win32/

# Android
proj.android/assets/
proj.android/libs/armeabi/
proj.android/obj/
proj.android/obj/local/armeabi/


